
body {
    width: 100%;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
}
.content{
    width: 80%;
    background-color: #f1f1f1;
}

.flex-icongrafics {
    display: flex;
    justify-content: center;
    height: 20px;

}
.svg-line {
    width: 100%;
    padding: 0;
    margin: 0;

}


/* Content positionering*/
.flex-content {
    display: flex;
    flex-direction: column;
}
.flex-content-progressbar {
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*info*/
.flex-info{
    align-self: center;
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5%;
}