



/*----------------------------------------------------------------------------*\

#CONTENT

\*----------------------------------------------------------------------------*/

body {
    width: 100%;
    background-color: rgb(27, 29, 30, 0.5);
    padding-top:    25px;
    padding-bottom: 25px;
    margin: auto;
    height: auto;
}

section {
    margin-top: 10px;
}

.content {
    margin: auto;
    background-color: white;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(27, 29, 30, 0.5);
    width:  495px;
    height: 742px;
}

/*----------------------------------------------------------------------------*\

#TOP-CONTENT

\*----------------------------------------------------------------------------*/
.top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.top li{
    width: 50%;
  }

.picture-container {
    margin: auto;
    width: 60%;
    height: 30%;
}

.CV-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*----------------------------------------------------------------------------*\

#BackBTN

\*----------------------------------------------------------------------------*/

.centered-button-box {
    display: flex;
    justify-content: center;

}

.centered-button {
    margin: 20px;
    height: 50px;
    width: 200px;
}

/*----------------------------------------------------------------------------*\

#TYPEOGRAFY

\*----------------------------------------------------------------------------*/

p {
    margin: 20px;
    color: black;
    font-size: 100%;
}




/*----------------------------------------------------------------------------*\

#ICONS

\*----------------------------------------------------------------------------*/


.flex-icongrafics {
    display: flex;
    height: 40px;
    margin-bottom: 10px;

}

.icon {
  height: 90%;
  width: auto;
  margin-right: 5px;
}


/*----------------------------------------------------------------------------*\

#SVG

\*----------------------------------------------------------------------------*/



.svg-line {
    padding: 0;
    margin:  0;
    color: black;
    margin-top: 10px;
}

line{
  stroke: black;
  stroke-width: 10px;
}

/*----------------------------------------------------------------------------*\

#CONTENT POSITIONING

\*----------------------------------------------------------------------------*/

.border{
  border-left: 1px solid black;
}
/*----------------------------------------------------------------------------*\

#LIST

\*----------------------------------------------------------------------------*/

.info {
  list-style-type: none;
  margin-left: 20px;
}

.info-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 50%;
}

/*----------------------------------------------------------------------------*\

#MEDIA QUERY

\*----------------------------------------------------------------------------*/


@media only screen and (max-width: 700px) {
  .top{
      flex-direction: column;
  }

  .top li{
      width: 100%;
  }
  .content{
    height: auto;
    width: 70%;
  }

}
