body {
    height: 100vh;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
}

/*----------------------------------------------------------------------------*\

#BackBTN

\*----------------------------------------------------------------------------*/

.centered-button-box{
    display: flex;
    justify-content: center;

}

.centered-button {
    margin: 20px;
    height: 50px;
    width: 200px;
}



.center-content li{
    display: flex;
    justify-content: center;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

textarea{
    font-family: var(--bodytext);
    font-size: var(--bodytext-size);
    color: var(--primary-color);
    resize: none;
    border: none;
    overflow-y: scroll;
}

textarea:focus{
    outline: 0;
}

select{
    padding: 5px;
    border: none;
}

select:focus{
    outline: 0;
}

.svg-btn{
    position: absolute;
    border-style: none;
    border-radius: 0;
    top: 0;
    left: 0;
}

.delete-btn{
    color: var(--primary-color);
    border-style: none;
    padding: 0;
    padding-left: 8px;
}


.delete-btn:hover{
    cursor: pointer;
    background-color: transparent;
}

.center-text{
    color: var(--primary-color);
    align-self: center;
    padding: 8px;
}

.list-div{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 300px;
}

li{
    margin-top: 20px;
}
