/*----------------------------------------------------------------------------*\

#TYPEOGRAFY

\*----------------------------------------------------------------------------*/


h1{
    font-family: var(--headline-large);
    color: var(--secondary-secondary-color);
    font-size: var(--headline-large-size);
    font-weight: var(--headline-large-font-weight) ;
    letter-spacing: var(--headline-large-letter-spaceing);
}

h2{
    font-family: var(--headline-small);
    color: var(--secondary-secondary-color);
    font-size: var(--headline-small-size);
    font-weight: var(--headline-small-font-weight);
    letter-spacing: var(--headline-small-letter-spaceing);

}

h3{
    font-family: var(--buttontext);
    color: var(--secondary-secondary-color);
    font-size: var(--buttontext-size);
    font-weight: var(--buttontext-font-weight);
    letter-spacing: var(--buttontext-letter-spaceing);
}

h4{
    font-family: var(--captiontext);
    color: var(--secondary-secondary-color);
    font-size: var(--captiontext-size);
    font-weight: var(--captiontext-font-weight);
    letter-spacing: var(--captiontext-letter-spaceing);
}

p{
    font-family: var(--bodytext);
    color: var(--secondary-secondary-color);
    font-size: var(--bodytext-size);
    font-weight: var(--bodytext-font-weight) ;
    letter-spacing: var(--bodytext-letter-spaceing);
}

button{
    font-family: var(--headline-large);
    font-weight: var(--headline-large-font-weight) ;
    letter-spacing: var(--headline-large-letter-spaceing);
    color: var(--secondary-secondary-color);
    font-size: var(--bodytext-size);
    text-transform: uppercase;
    background-color: transparent;
    border-style: solid;
    border-radius: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
}

button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.50);
}

button:focus {
    outline: 0;
}


.button-primary{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.button-primary:hover{
    cursor: pointer;
    background-color: rgba(55, 0, 179, 0.5);
}

.button-small{
    min-width: 120px;
}

input{
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    width: 300px;
    color: var(--primary-color);
}

input:focus{
    outline: 0;
}

.input-number{
    width: 75px;
}

