


body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
}

h1{
    font-family: var(--headline-large);
}

/*----------------------------------------------------------------------------*\

#NAVIGATION

\*----------------------------------------------------------------------------*/

.nav {
    height: 200px;
    width: 200px;
    background-color: transparent;
    position: fixed;
    right: -10%;
    top: 40%;
}

.nav .item {
    height: 30px;
    width: 30px;
    border: var(--secondary-secondary-color) solid 2px;
    background-color: transparent;
    border-radius: 50%;
    margin: 1.0rem;
}

.nav .item:hover {
    background: var(--secondary-secondary-color);
}

.nav .item::selection {
    background: var(--secondary-secondary-color);
}

/*----------------------------------------------------------------------------*\

#SECTION

\*----------------------------------------------------------------------------*/

section {
    width: 100%;
    height: 1080px;
    padding: 0px;
    background-color: transparent;
}


