
body {
    width: 100%;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
}

/*----------------------------------------------------------------------------*\

#NAVIGATION

\*----------------------------------------------------------------------------*/

.nav {
    background-color: transparent;
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -75px;
}

.nav .item {
    height: 30px;
    width: 30px;
    border: var(--secondary-secondary-color) solid 2px;
    background-color: transparent;
    border-radius: 50%;
    margin: 10px;
}

.nav .item:hover {
    background: var(--secondary-secondary-color);
}

.nav .in-viewport {
    background: var(--secondary-secondary-color);
}

/*----------------------------------------------------------------------------*\

#SECTION

\*----------------------------------------------------------------------------*/

.section {
    width: 100%;

    background-color: var(--primary-color);
    padding-bottom: 20px;

}

/*----------------------------------------------------------------------------*\

#PICTURE

\*----------------------------------------------------------------------------*/

.banner{
    width: 100%;
    background-color: transparent;
}

/*----------------------------------------------------------------------------\

 #SELLINGPOINTS

 *----------------------------------------------------------------------------*/

.sellings-points {
    padding: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.selling-point {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
    text-align: center;
    width: 20%;
}

.selling-point img {
    height: 100px;
    width: 100px;
    align-self: center;
    margin-bottom: 5px;
}

/*----------------------------------------------------------------------------\

 #MEDIA QUERIES

*----------------------------------------------------------------------------*/

 @media only screen and (max-width: 600px) {

   .sellings-points {
       padding: 20px;
       display: flex;
       flex-direction: column;
   }
   .selling-point img {
       height: 70px;
       width: 70px;
       align-self: center;
   }
   .selling-point {
       width: 50%;


   }

 }
