
body {
    width: 100%;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
    display: flex;
    flex-direction: column;
}



/*----------------------------------------------------------------------------*\

#NAVIGATION

\*----------------------------------------------------------------------------*/

.nav {
    background-color: transparent;
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -75px;
}

.nav .item {
    height: 30px;
    width: 30px;
    border: var(--secondary-secondary-color) solid 2px;
    background-color: transparent;
    border-radius: 50%;
    margin: 10px;
}

.nav .item:hover {
    background: var(--secondary-secondary-color);
}

.nav .in-viewport {
    background: var(--secondary-secondary-color);
}

/*----------------------------------------------------------------------------*\

#SECTION

\*----------------------------------------------------------------------------*/

.section {
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
}

.section1 {
    display: inline-block;
    min-height: 100vh;
    margin-bottom: 200px;
}


.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*----------------------------------------------------------------------------*\

#BUTTONS

\*----------------------------------------------------------------------------*/

.centered-button{
    text-align: center;
}

.centered-button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;

}



/*----------------------------------------------------------------------------*\

#PICTURE

\*----------------------------------------------------------------------------*/
.banner-content{
  width: 100%;
  object-fit: cover;
}

.banner{
    width: 100%;
    background-color: transparent;
}

.cv-example {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cv-example img{
    max-width: 70%;
    min-width: 20%;
}
/*----------------------------------------------------------------------------\

 #SELLINGPOINTS

 *----------------------------------------------------------------------------*/

.sellings-points {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.selling-point {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
    text-align: center;
    width: 20%;
}

.selling-point img {
    height: 100px;
    width: 100px;
}

.button-medium{
    font-size: 50px;
    border-width: 5px;
    width: 250px;
}

.center{
    margin: auto;
    display: block;
}

/*----------------------------------------------------------------------------\

 #MEDIA QUERIES

*----------------------------------------------------------------------------*/

 @media only screen and (max-width: 768px) {

   .sellings-points {
       display: flex;
       flex-direction: column;
   }
   .selling-point img {
       height: 70px;
       width: 70px;
       align-self: center;
   }
   .selling-point {
       width: 50%;
   }
   .nav {
     display: none;
   }
 }

@media only screen and (max-width: 600px) {
  .section h1{
      width: 100%;
      display: flex;
      justify-content: center;
  }
}

@media only screen and (min-width: 1500px) {
  .banner{
    width: 80%;
  }
  .banner-content{
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
