


body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-50deg,
    var(--secondary-color),  var(--primary-color));
}

/*----------------------------------------------------------------------------*\

#TYPEOGRAFY

\*----------------------------------------------------------------------------*/


h1{
    font-family: var(--headline-large);
    color: var(--secondary-secondary-color);
    font-size: var(--headline-large-size);
    font-weight: var(--headline-large-font-weight) ;
    letter-spacing: var(--headline-large-letter-spaceing);
}

h2{
    font-family: var(--headline-small);
    color: var(--secondary-secondary-color);
    font-size: var(--headline-small-size);
    font-weight: var(--headline-small-font-weight);
    letter-spacing: var(--headline-small-letter-spaceing);

}

h3{
    font-family: var(--buttontext);
    color: var(--secondary-secondary-color);
    font-size: var(--buttontext-size);
    font-weight: var(--buttontext-font-weight);
    letter-spacing: var(--buttontext-letter-spaceing);
}

h4{
    font-family: var(--captiontext);
    color: var(--secondary-secondary-color);
    font-size: var(--captiontext-size);
    font-weight: var(--captiontext-font-weight);
    letter-spacing: var(--captiontext-letter-spaceing);
}

p{
    font-family: var(--bodytext);
    color: var(--secondary-secondary-color);
    font-size: var(--bodytext-size);
    font-weight: var(--bodytext-font-weight) ;
    letter-spacing: var(--bodytext-letter-spaceing);
}

/*----------------------------------------------------------------------------*\

#NAVIGATION

\*----------------------------------------------------------------------------*/

.nav {
    height: 200px;
    width: 200px;
    background-color: transparent;
    position: fixed;
    right: -10%;
    top: 40%;
}

.nav .item {
    height: 30px;
    width: 30px;
    border: var(--secondary-secondary-color) solid 2px;
    background-color: transparent;
    border-radius: 50%;
    margin: 1.0rem;
}

.nav .item:hover {
    background: var(--secondary-secondary-color);
}

.nav .item::selection {
    background: var(--secondary-secondary-color);
}

/*----------------------------------------------------------------------------*\

#SECTION

\*----------------------------------------------------------------------------*/

section {
    width: 100%;
    height: 1080px;
    padding: 0px;
    background-color: transparent;
}


