@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:100,400,600');

:root {
    --primary-color: #3700B3;
    --secondary-color: #03DAC6;
    --primary-secondary-color: #6200EE;
    --secondary-secondary-color: #FFFFFF;
    --secondary-variant-color: #018786;

    --headline-large: 'Montserrat:700', sans-serif;
    --headline-small: 'Montserrat:400', sans-serif;
    --bodytext: 'Raleway:400', sans-serif;
    --buttontext: 'Raleway:600', sans-serif;
    --captiontext: 'Raleway:100', sans-serif;
}

